language: julia
julia:
  - 1.0
  - 1.5
  - nightly
os:
  - linux
  - osx
  - windows
arch:
  - x64
  - x86
  - arm64

env:
    global:
    - PYTHON=conda

notifications:
  email: false

before_install:
    #install mpmath to test functionallity
  - if [ $MPMATH = "true" ]; then julia -e 'using Pkg; Pkg.add("Conda"); using Conda; Conda.add("mpmath")';fi

jobs:
  include:
    allow_failures:
    - julia: nightly
    exclude:
    - arch: x86
      os: osx
    - stage: "Documentation"
      julia: 1.5
      os: linux
      env:
        - GKSwstype="100"
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate();  Pkg.develop(PackageSpec(path=pwd()))'
      after_success: skip

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("SymPy")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';


